.cf-field.adv-hotels .cf-field__body .cf-complex__groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cf-field.adv-hotels .cf-field__body .cf-complex__groups .cf-complex__group {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.cf-field.adv-hotels .cf-field__body .cf-complex__groups .cf-complex__group .cf-complex__group-body {
    background: transparent;

}

.cf-complex__group-body .cf-image.adv-hotel-pic {
    padding: 0;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body {
    position: relative;
    height: 190px;
    width: 100%;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body .cf-file__inner .cf-file__preview {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    width: 100%;
    overflow: hidden;
    box-shadow: none;
    height: 100%;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body .cf-file__inner .cf-file__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body .cf-file__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/svg/placeholder.svg);
    background-size: cover;
    background-position: center;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body .cf-file__inner .button.cf-file__browse {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    border: 1px solid #000;
    margin: 0;
}

.cf-field.cf-text.cf-field--has-width.adv-hotel-name {
    padding: 20px 5px;
}

.cf-field.cf-text.cf-field--has-width.adv-hotel-name .cf-field__body input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
}

.cf-field.cf-image.adv-hotel-pic .cf-field__body .cf-file__inner .cf-file__content span.cf-file__name {
    background: transparent;
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    left: 0;
    bottom: unset;
    right: unset;
}

.cf-field.cf-rich-text.adv-hotel-desc {
    padding: 5px;
}

/*GUTENBERG*/

:root {
    --black: #1f1f1f;
    --grey: #797979;
    --dark: #02225B;
    --accent: #155ECB;
    --light-accent: #84B8DF;
    --dark: #155ECB;
    --light: #E9EEF8;
    --overlay-gradient: linear-gradient(35deg, rgba(2, 34, 91, 1) 0%, rgba(64, 109, 176, 0) 100%);
    ;
    --accent-gradient: linear-gradient(164deg, rgba(21, 94, 203, 1) 0%, rgba(60, 134, 245, .8) 100%);
}

* {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
    font-size: 14px;
}

html :where(.wp-block) {
    margin-bottom: 28px;
    margin-top: 28px;
    max-width: 90%;
}

.has-background.wp-block-separator {
    width: 100px;
    margin: 0;
}

.wp-block-columns .wp-block {
    border: 1px dotted var(--black);
}

.wp-block-spacer {
    position: relative;
    background: #d7d7d7;
    height: 40px;
}

figure.wp-block-pullquote {
    font-size: 16px;
    margin: 30px 0;
    background: var(--light);
    padding: 20px;
    border-left: 3px solid var(--accent);
}

.wp-block-cover__inner-container p.block-editor-rich-text__editable {
    color: #fff;
}

.wp-block-cover .wp-block-cover__inner-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wp-block-pullquote blockquote p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.wp-block-pullquote blockquote cite {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.wp-block-cover,
.wp-block-cover-image {
    border-radius: 10px;
}

/* 
.wp-block-spacer{
    height:60px;
    background:rgba(185, 235, 138, .3);
} */

.wp-block-spacer:after {
    content: 'spacer';
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    font-size: 12px;
    font-style: italic;
}

blockquote.wp-block-quote {
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
    background: var(--light);
    border-radius: 4px;
    font-style: italic;
}