@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato"),
    url(fonts/lato-bold.woff2) format("woff2"),
    url(fonts/lato-bold.woff) format("woff"),
    url(fonts/Lato-bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato"),
    url(fonts/lato-regular.woff2) format("woff2"),
    url(fonts/lato-regular.woff) format("woff"),
    url(fonts/Lato-Regular.ttf) format("truetype");
  font-display: swap;
}